<section class="skills">
  <div class="container">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <p class="section-heading">
          Our Services
        </p>
        <p class="main-heading">Lorem ipsum dolor sit amet.</p>
      </div>
      <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-12">
        <div class="card card-skill">
          <div class="card-body">
            <figure>
              <img src="" class="img-fluid" alt>
            </figure>

            <h6>Web UI/UX</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore fugit repudiandae inventore commodi est eos!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
